{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    <div class="container">
        {{ form_start(adminForm) }}
        {{ form_row(adminForm) }}
        <button>Inscription </button>
        {{ form_end(adminForm) }}
    </div>
{% endblock %}
