<form method="post" action="{{ path('app_annuler_sortie', {'id': sortie.id}) }}" onsubmit="return confirm('🎉 Êtes-vous sûr(e) d\'annuler cette sortie ? 🎉');">
    {{form_start(form) }}
    {{ form_end(form) }}
</form>
