{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}
        {{ form_row(sortieForm) }}
        <button>Créer une sortie </button>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}

