
/* Réinitialisation des styles et règles de base */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; /* 16px */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: hsl(0, 100%, 100%);
    color: #333;
    font-weight: 400;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

/* Structures et layout */
.container {
    width: 50%;
    margin-left: 37.5%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: white ;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}

header,
footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Typographie */
h1, h2, h3, h4, h5, h6 {
    color: #1a1d20;
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}

p {
    margin-bottom: 1rem;
    color:black;
    font-family: "Calibri Light";
}

a {
    color:black;
    text-decoration: none;
    transition: color 0.3s;

}

a:hover,
a:focus {
    color: whitesmoke;
    text-decoration: underline;
}

/* Boutons et liens cliquables */
.button,
a.button {
    display: inline-block;
    background: darkgrey;
    color: white;

    padding: 0.1rem 0.3rem;
    border: none;
    border-radius: 1rem;

    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover,
.button:focus,
a.button:hover,
a.button:focus {
    background: cornflowerblue;
    transform: translateY(-3px);
}

/* Formulaires */
input,
textarea,
select {
    width: 50%;
    padding: 4px 8px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
}
button,
input[type="submit"] {
    margin-top: 10px;
    margin-left: 8rem;
    padding: 10px 20px;
    background-color: darkgrey;
    color: white;
    border: none;
    border-radius: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

}

button:hover,
input[type="submit"]:hover {
    background-color: cornflowerblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 80%;
    background-color: #dddddd;
}



@media (max-width: 768px) {
    .container,
    header,
    footer {
        padding: 15px;
    }


    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    textarea,
    select {
        padding: 8px 10px;
    }
}

.search-sort-container {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.search-sort-container input,
.search-sort-container select {
    margin-right: 10px;
    margin-bottom: 0; /
}

.search-sort-container button {
    padding: 8px 16px;
}


.createSortie-form select,
.createSortie-form textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.createSortie-form button {
    width: auto;
    padding: .5rem 1.5rem;
    background-color: darkgray;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.createSortie-form button:hover {
    background-color: cornflowerblue;
}
/* pour les messages flash*/

.flash{
    padding:20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin:1rem 0;
    border-radius: 5px;
}

.flash-success{
    background-color: cornflowerblue;
}


/* pour que le logo tourne sur lui-même*/
@keyframes growAndRotate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.rotate-on-success {
    animation: growAndRotate 10s ease-in-out forwards;
}


@keyframes flyUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1000px);
    }
}

.letter {
    position: absolute;
    font-size: 24px;
    color: white;
    animation: flyUp 20s linear forwards;
}

/* pour qu'un message s'affiche à l'inscription à une sortie et défile vers la gauche après être apparu par la droite*/
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.confirmation-message {
    font-family: Century;
    font-size: 35px;
    color: black;
    text-align: right;
    margin-top: 20px;
    animation: slideInRight 5s ease forwards;
    white-space: nowrap;
    overflow: hidden;
}

.confirmation-message.slide-out {
    animation: slideOutLeft 1s ease forwards;
}

/*larmes désistement*/
@keyframes fall {
    0% { top: -20px; opacity: 1; }
    100% { top: 100%; opacity: 0; }
}

.tear {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #fff;
    animation: fall linear 1s infinite;
}


.container_accueil{
    float: right;
    width: 15%;
    font-family:"Montserrat", sans-serif;
    font-size: large;
}


td{
    height: 200px;
}


.filtre-container {
    display: inline-block;
    width: auto;
    max-height: 34rem ;
    padding: 5px;
    background-color: ghostwhite;
    border-radius: 20px;
    text-align: center;
    border: 1px solid darkgrey;
    position: absolute;
    margin-top: 4rem;
    margin-left: 2rem;
}



































































